<VirtualHost *:80>
    ServerName atmospi
    ServerAlias atmospi1 atmospi2 atmospi3 atmospi4 atmospi5 atmospi6 atmospi7 atmospi8 atmospi9 atmospi10

    WSGIDaemonProcess atmospi threads=5
    WSGIScriptAlias / /home/pi/atmospi/atmospi.wsgi

    <Directory /home/pi/atmospi>
        Require all granted
    </Directory>

    <Directory /home/pi/atmospi/Atmospi>
        WSGIProcessGroup atmospi
        WSGIApplicationGroup %{GLOBAL}
    </Directory>
</VirtualHost>
