<!doctype html>
<head>
<head>
  <title>Atmospi</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="//code.highcharts.com/stock/highstock.js"></script>
</head>
<body>
  <h1>Atmospi</h1>
  <div id="graph"></div>
  <div id="footer">Powered by Atmospi - <a href="http://github.org/mstenta/atmospi">http://github.org/mstenta/atmospi</a></div>
  <script type="text/javascript" src="/static/atmospi.js"></script>
</body>
</html>
